.jobs-management {
    // Start Modal
    .job-modal {
        .modal-content {
            border-radius: 0.85rem;
            .modal-body {
                padding: 1.5rem 1rem;
                .title {
                    h3 {
                        color: $purple;
                        font-size: 1.5em;
                    }
                }

                hr {
                    border-top: 1px solid $purple;
                }

                form {
                    .button-modal {
                        margin-top: 35px;
                        .btn-link{
                            text-decoration: none !important;
                            color: $gray;
                        }
                    }
                }
            }
        }
    }
}
