/node_modules
/public/error_log
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
/old_purplebug
/support
/contract-tracket
*.zip
error_log

*.sql
