.seo-container {
    .seo-wrap {
        background-color: #eaeaea66;

        .row {
            margin-right: 6% !important;
            margin-left: 80px;
            padding: 30px 20px;
        }
    }

    .seo-footer {
        display: flex;
        justify-content: flex-end;
        margin-right: 15%;
    }
}